.container
{
    margin: 50px 0;
}

.data
{
    margin-bottom: 0;
}

.data a
{
    text-decoration: none;
    color: black ;
}

.card{
    margin: 0 2% !important;
}

.break
{
    color: #263238;
}


.infected{
    border-bottom: 10px solid rgba(41, 98, 255, 0.5);

}

.infected i
{
    color: #2962FF;
}

.recovered{
    border-bottom: 10px solid rgba(25,176,17, 0.5);

}

.recovered i
{
    color: #19B011;
}

.deceased{
    border-bottom: 10px solid rgba(213, 0, 0, 0.5);
}

.deceased i
{
    color: #D50000;
}