@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.image
{
    height: 100%;
    width: 100%;
}

.imagemain
{
    height: 100%;
    width: 100%;
    border-radius: 1%;
}

.contain
{
    margin: 2%;
    padding: 2%;
    /* background:  rgb(194, 233, 240); */
}

.containmain
{
    margin: 2%;
    padding: 0%;
   
}

.wbreak
{
    color: white;
}

.message
{
    padding: 2%;
}

.head
{
    background: rgb(150, 215, 226);
    color: white;
}

.break
{
    color:  rgb(150, 215, 226);
}