.formControl
{
    text-align: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;


}
.selectStyle
{
    min-width: 400px;
    text-align: center;
    justify-content: center;
    background-color: rgb(150, 215, 226);
    padding: 0%;
    margin: 0%;
}

option
{
    background-color:#b6ebfa;
    color: black;
    cursor: pointer;
}

