@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.formControl
{
    text-align: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color:   #f4f4f8; 
    outline: none;
    
}


