body
{
  background-color: rgb(150, 215, 226);
  
}
.App {
  text-align: center;
  justify-content: center ;
}

.tabpanels
{
  background:  #f8f8ff;
  /* rgb(194, 233, 240); */
}


 @media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(36, 36, 36);
  }
  .tabpanels
 {
   background:  #727275;
 }

} 


#loader
{
  padding: 50%;
}

.App-logo {
  height: 7vh;
  pointer-events: none;
}

.loader-logo{
  height: 15vh;
  pointer-events: none;
}

.loader-contain
{
  padding:10%;
  height: 25vh;
  width: 25vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
  .loader-logo{
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0%;
  padding: 0%;
}

.App-header h1
{
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 9vh;
  font-weight: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
